.overview {
  color: #fff;
}

.overview + * {
  margin-top: 183px;
}

.overview__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overview__text {
  margin-top: 468px;
  margin-left: 65px;
}

.overview__textrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overview__textrow + * {
  margin-top: 218px;
}

.overview__article1 + * {
  margin-left: 140px;
}

.overview__title {
  width: 177px;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
}

.overview__title + * {
  margin-top: 45px;
}

.overview__list {
  line-height: 179.69%;
  font-weight: 400;
  font-size: 18px;
}

.overview__article2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 179.69%;
}

.overview__article {
  width: 490px;
  display: block;
}

.overview__words {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
}

.overview__image {
  margin-left: 40px;
  margin-top: -100px;
  height: 1718px;
  overflow: hidden;
}

.overview__img {
  width: 100%;
}

@media (max-width: 950px) {
  .overview__text {
    margin-top: -10px;
    margin-left: 65px;
  }
  .overview__textrow + * {
    margin-top: 30px;
  }
  .overview__article1 + * {
    margin-left: 10px;
  }
  .overview__title {
    font-size: 18px;
  }
  .overview__title + * {
    margin-top: 20px;
  }
  .overview__list {
    font-size: 14px;
  }
  .overview__time {
    font-size: 14px;
    line-height: 179.69%;
  }
  .overview__article {
    font-size: 14px;
    width: 350px;
  }
  .overview__image {
    margin-top: -200px;
    max-height: 1200px;
  }
}
