
.header {
	min-height: 120px;
	+ * {
		margin-top: 50px;
	}
	font-size: 12px;
		&__menu {
			display: flex;
			justify-content: space-between;
			padding-top: 54px;
		}

		&__logo {
		}

		&__nav {
			
		}

		&__list {
			display: flex;
			justify-content: center;
			li + li {
				margin-left: 20px;
			}
		}

		&__itim {
			transition: all 1s ease-out;
			:hover{
			  padding-bottom: 5px;
			  border-bottom: 1px solid yellow;
			  text-shadow: 2px 2px 10px pink;
			}

		}

		&__link {
			color: #fff;
		}

		&__left {
		}

		&__list2 {
			display: flex;
			justify-content: center;
			li + li {
				margin-left: 20px;
			}
		}

		&__item2 {
			:hover{
				opacity: 0.5;
			}
		}

		&__link2 {
			color: #808080;
		}
}


.menu-btn{
	display: none;
	align-items: center;
	position: absolute;
	top: 0;
	right:0;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
 }
  
 .menu-btn > span,
 .menu-btn > span::before,
 .menu-btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #fffefe;
	transition-duration: .25s;
 }
 .menu-btn > span::before {
	content: '';
	top: -8px;
 }
 .menu-btn > span::after {
	content: '';
	top: 8px;
 }

 .menubox{
	display: none;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 20px 0;
	list-style: none;
	background-color: #000;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	transition-duration: .25s;
 }
 .menu-item {
	display: none;
	padding: 12px 24px;
	color: rgb(255, 255, 255);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	transition-duration: .25s;
 }

 .menu-item2{
	display: none;
	padding: 12px 24px;
	color: #808080;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	transition-duration: .25s;
 }

 
 .menu-item:hover, .menu-item2:hover{
	background-color: #2f3131;
	opacity: 0.5;
 }
 #menu-toggle{
	opacity: 0;
 }
 #menu-toggle:checked ~ .menu-btn > span{
	transform: rotate(45deg);
 }
 #menu-toggle:checked ~ .menu-btn > span::before{
	top: 0;
	transform: rotate(0);
 }
 #menu-toggle:checked ~ .menu-btn > span::after{
	top: 0;
	transform: rotate(90deg);
 }
 #menu-toggle:checked ~ .menubox{
	visibility: visible;
	left: 0;
 }

@media (max-width: 990px ) {
	.header{
		+ * {
			margin-top: 0px;
		}
	}
	.header__nav, .header__left{
		display: none;
	}
	.header__menu{
		display: block;
		padding-top: 20px;
	}
	.header__logo{
		text-align: center;
	}
	.menu-btn{
		display: flex;
	}
	.menubox,
	.menu-item,
	.menu-item2{
		display: block;
	}
}

